---
layout: page
title: タグ一覧
permalink: tags.html
---

<ul class="memo">
{% for tag1 in site.tags %}<li class="list"><a href="#tag_{{ tag1[0] }}">{{ tag1[0] }}</a></li>{% endfor %}
</ul>

{% for tag in site.tags %}
<article>
  <h2 id="tag_{{ tag[0] }}">{{ tag[0] }}</h2>
  <ul>
    {% for post in tag[1] %}
    <li class="post-date"><strong>{{ post.date | date: "%Y/%m/%d" }} &raquo;</strong><a href="{{ site.baseurl }}{{ post.url }}">{{ post.title }}</a></li>
    {% endfor %}
  </ul>
</article>
{% endfor %}
